{{yield}}
<h3>Show selected</h3>
<select multiple="multiple" id="git-event-types" size="33" class="selectpicker" onchange={{action "chooseTypes"}} value={{target.value}}>
	<option {{action "deselectAll"}}>ALL</option>
	{{#each eventTypes as |eventType|}}
		<option>{{eventType}}</option>
	{{/each}}
</select>