{{outlet}}

<div class="row force-down">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Events</h3>
		</div>
		<div class="panel-body" data-event-group="events">
			{{#each events as |event|}}
				<a href="{{event.url}}" target="_blank" class="list-group-item ember-view" data-event-type="{{event.eventType}}">ID: {{event.id}}, type: {{event.eventType}}</a>
			{{/each}}
		</div>
	</div>
</div>